[submodule "en-gb"]
	path = en-gb
	url = https://github.com/pconnectaction/client-en-gb.git
[submodule "en-nz"]
	path = en-au
	url = https://github.com/pconnectaction/client-en-au.git
[submodule "en-au"]
	path = en-au
	url = https://github.com/pconnectaction/client-en-au.git
